<html>
  <head>
    <title>{{ metadata.title }}</title>
  </head>
  <body>
    <div id="menu">{{ include "menu.html" }}</div>
    <h1>{{ metadata.title }} - {{ metadata.general.date }} </h1>
    <div>
      {{ content }}
    </div>

    <h1>fonctionalities</h1>
    <ul>
      {% for fonctionality in list_files("fonctionalities", true) %}
        <li>{{ fonctionality }}</li>
      {% endfor %}
    </ul>

  </body>
</html>
