<html>
  <head>
    <title>{{ metadata.title }}</title>
  </head>
  <body>
    <div id="menu">{{ include "menu.html" }}</div>
    <h1>{{ metadata.title }} - {{ metadata.general.date }}</h1>
    <div>
      {{ content }}
    </div>
    
    <h1>Authors : </h1>
    <ul>
      {% for author in metadata.authors %}
        <li> {{author.lastname}} <b> {{author.lastname}}</b></li>
      {% endfor %}
    </ul>
  </body>
</html>
